<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ak.vault" type="AK.Vault.Configuration.VaultSection, AK.Vault" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <ak.vault>
    <vaultConfiguration>
      <vaults>
        <vault name="Vault 1" encryptedFileLocation="C:\Vault1\encrypted" decryptedFileLocation="C:\Decrypted" />
        <vault name="Vault 2" encryptedFileLocation="C:\Vault2\encrypted" decryptedFileLocation="C:\Decrypted" />
        <vault name="Vault 3" encryptedFileLocation="C:\Vault3\encrypted" decryptedFileLocation="C:\Decrypted" />
        <vault name="Vault 4" encryptedFileLocation="C:\Vault4\encrypted" decryptedFileLocation="C:\Decrypted" />
      </vaults>
    </vaultConfiguration>
  </ak.vault>
</configuration>